@tailwind base;
@tailwind components;
@tailwind utilities;

/*
li>ul                 { transform: translatex(100%) scale(0) }
li:hover>ul           { transform: translatex(101%) scale(1) }
li > button svg       { transform: rotate(-90deg) }
li:hover > button svg { transform: rotate(-270deg) }
*/

drop {
    margin: 1px;
}

drop button {
    padding-left: 10px;
    padding-right: 10px;
}

drop drop-content {
    height: 0%;
    position: absolute;
    display: none;
}

drop drop-content item {
    margin: 1px;

    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;

    cursor: pointer;
}

drop drop-content item:hover {
    background-color: turquoise;
}

drop:hover button{
    background-color: turquoise;
}

drop:hover drop-content {
    height: unset;
    display: flex;
    z-index: 50;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(15px);
    min-width: 20vw;
    flex-shrink: 1;
    flex-grow: 0;
}

.canvas-div{
    width: 100%;
    height: 100%;
}

#tool-section {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0,75rem;

    font-size: 2.25rem;
    line-height: 2.5rem;

    flex-wrap: nowrap;

    padding: 0.75rem;
}

#tool-section > span {
    border-radius: 0.25rem;
    background-color: green-600;
}

#tool-section > span:hover {
    /*background-color: rgb(21, 128, 61) / var(--tw-bg-opacity);
    background-color: green-700;

    transform: scale(1.25);*/
    --tw-scale-x: 1.1;
    --tw-scale-y: 1.1;

    transform: scale(1.25);
}